body {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#loginMsg {
  font-family: fantasy;
  font-size: 7.5vh;
  line-height: 7.5vh;
  font-weight: bold;
  padding: 1%;
  top: 42.5vh;
  position: absolute;
  background-color: #FFDB58;
  border-radius: 20px;
}

.logo-container {
  position: absolute;
  left: 0%;
}

.logo {
  top: 2vh;
  left: 1.5vw;
  position: absolute;
  height: 100px;
}
