body {
  justify-content: center;
  background-image: linear-gradient(#eedc74, cornsilk);
  background-attachment: fixed;
  margin: 0;
}

.lararbild {
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 25%;
}

.button {
  background: #555;
  border: 3px solid #555;
  padding: 0;
  height: auto;
  width: 18vw;
  margin: 1vw;
  border-radius: 25%;
}

.bildlada {
  background-color: #f44;

  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 3px solid black;
  border-top: none;

  width: 80vw;
  left: 10vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner {
  display: flex;
  margin: 2% 8.5% 0 8.5%;
  width: 83vw;
  height: 10%;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border: 3px solid rgb(75, 49, 70);
  border-radius: 50px;
}

.banner-img {
  position: absolute;
  left: 20px;
  height: 40px;
}


#right,
#left {
  background: transparent;
  border: none;
}

@media only screen and (orientation: portrait) {
  .button {
    max-height: auto;
    width: 45vw;
  }

  .bildlada {
    height: 90vh;
    width: 100vw;

    align-items: baseline;
  }
}
